.nav-container{
    /* border: 1px solid red; */
    width: 1500px;
    height: 110px;
    display: flex;
    background: #FFF;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container{
    display: flex;
    margin-left: 110px;
    gap: 10px;
    width: 50%;
}
.logo-container img{
    width: 86.041px;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 35px;
}
.logo-container p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    margin-top: 44px;
    margin-bottom: 35px;
}
.gamer{
    color: #FF42A5;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    color: #3C354F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.nav-items-container .follow-btn{
    width: 150px;
    height: 46px;
    font-size: 18px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 11px 2px 1px;
}
.banner1{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 700px;
}
.b1-description{
    margin-top: 100px;
    margin-left: 110px;
}
.banner1 img{
    width: 600px;
    height: 550px;
    margin-right: 110px;
}
.b1{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0px;
}
.goat{
    text-align: center;
    font-family: Work Sans;
    font-size: 74px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}
.goat-description{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn1{
    font-size: 12px;
    font-weight: 550;
    color: #FFF;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 12px 22px;
}
.btn2{
    font-size: 12px;
    font-weight: 550;
    color: #FFF;
    background: #4EC5F7;
    border-radius: 48px;
    border: none;
    padding: 12px 22px;
}
.s2{
    width: 1500px;
    height: 500px;
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.s2 img{
    width: 600px;
    height: 500px;
    text-align: left;
    margin-left: 25px;
}
.s2-description{
    text-align: right;
    margin-top: 90px;
    margin-right: 10px;
    margin-left: 150px;
}
.s2-para{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
margin-top: 10px;
margin-bottom: 20px;
}
.purpose{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.unleash{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin-top: 0px;
}
.cards-section{
    margin-bottom: 10px;
}
.online-games{
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}
.online-games-description{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.card{
    width: 250px;
    height: 400px;
    border-radius: 16px;
    display: flex;
    margin-left: 220px;
    margin-right: 150px;
    margin-top: 30px;
    gap: 15px;
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
}
.card img{
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.s3{
    width: 1500px;
    height: 700px;
    display: flex;
}
.b3{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 180px;
}
.banner3{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    width: 300px;
    height: 150px;
    margin-left: 45px;
}
.play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.no-downloads{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.b3-description{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;
width: 353px;
margin-right: 400px;
}
.overlapped-pic{
    width: 550px;
    height: 700px;
    margin-top: 90px;
}
.small-pic{
    margin-top: -100px;
    margin-left: -90px;
}
.big-pic img{
    width: 330px;
    height: 400px;
    border-radius: 8px;
}
.small-pic img{
    width: 200px;
    height: 250px;
    border-radius: 8px;
}
.s4{
    max-width: 1500px;
    height: 400px;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gaming-btn-container{
    width: 243px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #FFF;
    gap: 100px;
}
.gaming-btn{
    width: 295px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 25px;
    border: none;
    border-radius: 50px;
    background: #FFF;
}
.gaming-btn div{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
}

footer{
    width: 1500px;
    height: 436px;
    background-color:  #0B0223;
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.last-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.footer-description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.footer-description a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    /* width: 1200px;
    height: 20px;
    border: 1px;
    gap: 35px;
    margin-top: 0px;
    margin-left: 145px; */
}
.footer-para{
    padding: 60px 0px 100px 0px;
    align-items: center;
    justify-content: center;
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}
.end a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    justify-content: space-evenly;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
.ending{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    /* margin-top: 1px;
    margin-bottom: 5px; */
}